<h1>Recetas</h1>

<div class="row">
  <div class="col-md-4" *ngFor="let receta of recetas">
    <div class="card mb-4">
      <img [src]="receta.foto" class="card-img-top" alt="Foto de la receta">
      <div class="card-body">
        <h5 class="card-title">{{ receta.nombre }}</h5>
        <p class="card-text">{{ receta.descripcion }}</p>
        <p class="card-text">Proceso de Preparación: {{ receta.proceso }}</p>
        <p class="card-text">Video de Preparación: <a [href]="receta.video" target="_blank">Ver video</a></p>
        <a routerLink="/restaurantes" class="btn btn-primary btn-block">Restaurantes tipicos</a>

      </div>
    </div>
  </div>
</div>
