<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>World Gastronomic Center</title>
  
</head>

<body>
  <header>
    <h1 class="text-center">WORLD GASTRONOMIC CENTER</h1>
  </header>

  <nav>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="card text-center" style="width: 100%;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.NU03adU_4Q86D75vLfl2kQHaE4%26pid%3DApi&f=1&ipt=cc447b9b590205d19d4e9fadc9f24cc20dc5c5e19165a6b5bfe820b4b0a0127c&ipo=images"
              class="card-img-top" alt="Imagen de Culturas Gastronómicas">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Culturas Gastronómicas</h5>
              <p class="card-text">Explora las diferentes culturas culinarias del mundo.</p>
              <a routerLink="/culturas" class="btn btn-primary mt-auto">Ir a Culturas</a>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card text-center" style="width: 100%;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.explicit.bing.net%2Fth%3Fid%3DOIP.1VrInawD6AzNUmoC-WpLXQHaEo%26pid%3DApi&f=1&ipt=02f0c464e18bce5adc9c2256bed9b204518ad598aeef1003494d7d96db1a6ddc&ipo=images"
              class="card-img-top" alt="Imagen de Productos">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Productos</h5>
              <p class="card-text">Descubre los ingredientes y productos característicos de cada cultura.</p>
              <a routerLink="/productos" class="btn btn-primary mt-auto">Ir a Productos</a>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card text-center" style="width: 100%;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.35yMeEbo05TGje76yKOvHwHaE8%26pid%3DApi&f=1&ipt=69738ecb47ccc0228493987a9158cb343b50cffb3ddbadd41e5511e8a0526d46&ipo=images"
              class="card-img-top" alt="Imagen de Recetas">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Recetas</h5>
              <p class="card-text">Aprende a preparar platos tradicionales de todo el mundo.</p>
              <a routerLink="/recetas" class="btn btn-primary mt-auto">Ir a Recetas</a>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-4">
          <div class="card text-center" style="width: 100%;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.MlZXr9dd8Om34xx-wydaQQHaE9%26pid%3DApi&f=1&ipt=1d271a3f2698e3c9cf85e0f13c573711c211da59fb74a669ee6706180496d781&ipo=images"
              class="card-img-top" alt="Imagen de Restaurantes">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Restaurantes</h5>
              <p class="card-text">Descubre restaurantes reconocidos que ofrecen comida auténtica.</p>
              <a routerLink="/restaurantes" class="btn btn-primary mt-auto">Ir a Restaurantes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</body>

</html>
