<h1>Productos</h1>
<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let producto of productos">
    <div class="card">
      <img src="{{ producto.imagen }}" class="card-img-top" alt="{{ producto.nombre }}">
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">{{ producto.descripcion }}</p>
        <p class="card-text">Categoría: {{ producto.categoria }}</p>
        <a routerLink="/recetas" class="btn btn-primary btn-block">Ver Receta</a>

      </div>
    </div>
  </div>
</div>
