<h1>Restaurantes</h1>

<div class="row">
  <div class="col-md-4" *ngFor="let restaurante of restaurantes">
    <div class="card mb-4 restaurant-card">
      <img [src]="restaurante.foto" class="card-img-top" alt="Foto del restaurante">
      <div class="card-body">
        <h5 class="card-title">{{ restaurante.nombre }}</h5>
        <p class="card-text">Ciudad: {{ restaurante.ciudad }}</p>
        <p class="card-text">País: {{ restaurante.pais }}</p>
        <p class="card-text">
          Estrellas Michelin: {{ restaurante.estrellasMichelin || 'No especificadas' }}
          <span *ngIf="restaurante.estrellasMichelin"> (Conseguidas en {{ restaurante.fechaConsecucion }})</span>
        </p>
      </div>
    </div>
  </div>
</div>
